body{
  font-family: 'Roboto', sans-serif;
  background-image: url(../img/fundo.jpg);
  background-size: cover;
  background-attachment: center-top;
  
}
button{
  margin-top: 80%;
}
.btn-mktg{
  background-color: transparent;
}
#camera{
  width: 50%;
}
label{
  margin-left: 70px;
}
input{
  border-radius: 3px 13px 13px 13px;
}